/* NAVBAR */

.navbar {
    text-transform: uppercase;
}

.navbar .is-dark 
{
    background: #444;
}


/* FOOTER */

.footer a 
{
    margin-bottom: 15px;
    display: inline-block;
    color: #444;
}


/* BULMA OVERRIDES */
.input, .button 
{
    border-radius: 0;
}

/* Product List Item */

.product-list-item .box .subtitle 
{
    margin-bottom: 0;
}


.product-list-item .box .price 
{
    color: #888;
}